#intro {

    .intro-container {
        margin: 0 auto;
        padding-bottom: 11rem;
        width: 335px;

        @media screen and (min-width: 768px) {
            width: 680px;
        }

        @media screen and (min-width: 1440px) {
            width: 1120px;
        }

        .intro-bg {
            position: absolute;
            right: 0;
            top: 0;

            @media screen and (min-width: 768px) {
                top: -2rem;
            }

            @media screen and (min-width: 1440px) {
                right: 2rem;
            }
        }

        .intro-bg2 {
            display: none;
            height: 330px;
            position: absolute;
            right: 0;
            top: 0;

            @media screen and (min-width: 768px) {
                display: block;
            }

            @media screen and (min-width: 1440px) {
                display: block;
                height: 380px;
            }
        }

        .intro-logo {
            margin-bottom: 4rem;

            @media screen and (min-width: 768px) {
                margin-bottom: 6rem;
            }
        }

        .intro-text {
            color: $color-slate;

            h1 {
                font-size: 40px;
                line-height: 2.5rem;
                margin-bottom: 2rem;

                @media screen and (min-width: 768px) {
                    font-size: 62px;
                    line-height: 4rem;
                    width: 415px;
                }

                @media screen and (min-width: 1440px) {
                    font-size: 88px;
                    line-height: 5.5rem;
                    width: 855px;
                }
            }

            p {

                @media screen and (min-width: 768px) {
                    font-size: 18px;
                    width: 505px;
                }

                @media screen and (min-width: 1440px) {
                    font-size: 20px;
                    line-height: 1.7rem;
                    width: 738px;
                }
            }
        }
    }
}