#intro {

    .intro-pt1 {
        margin: 0 auto;
        padding-bottom: 11rem;
        width: 335px;

        .intro-bg {
            position: absolute;
            right: 0;
            top: 0;
        }

        .intro-logo {
            margin-bottom: 4rem;
        }

        .intro-text {
            color: $color-slate;

            h1 {
                font-size: 40px;
                line-height: 2.5rem;
                margin-bottom: 2rem;
            }
        }
    }
}