@import 'abstract/variables';
@import 'components/intro';
@import 'components/price';

* {
    box-sizing: border-box;
    font-family: $font-ibm;
    margin: 0;
    padding: 0;
}

.main-container {
    margin-top: 4rem;
}