main .bmi-logo {
  margin: 32px auto;
  height: 40px;
  width: 100%;
}
@media screen and (min-width: 768px) {
  main .bmi-logo {
    margin: 32px auto 40px auto;
  }
}
@media screen and (min-width: 1440px) {
  main .bmi-logo {
    height: 64px;
    margin: 88px auto 24px 140px;
    width: 64px;
  }
}
@media screen and (min-width: 1440px) {
  main .sections-link {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 1160px;
  }
}
main .sections-link .hero {
  margin: 0 auto 32px auto;
  text-align: center;
  width: 328px;
}
@media screen and (min-width: 768px) {
  main .sections-link .hero {
    margin: 0 auto 40px auto;
    width: 686px;
  }
}
@media screen and (min-width: 1440px) {
  main .sections-link .hero {
    margin: 42px auto;
    text-align: left;
    width: 564px;
  }
}
main .sections-link .hero h1 {
  font-family: "Inter", sans-serif;
  font-size: 48px;
  font-weight: 600;
  letter-spacing: -5%;
  line-height: 110%;
  color: #253347;
  margin-bottom: 24px;
}
@media screen and (min-width: 768px) {
  main .sections-link .hero h1 {
    margin: 0 auto 24px auto;
    width: 369px;
  }
}
@media screen and (min-width: 1140px) {
  main .sections-link .hero h1 {
    font-family: "Inter", sans-serif;
    font-size: 64px;
    font-weight: 600;
    letter-spacing: -5%;
    line-height: 110%;
    margin: 0 0 32px 0;
    width: 471px;
  }
}
main .sections-link .hero p {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 150%;
  color: #5E6E85;
}
@media screen and (min-width: 1140px) {
  main .sections-link .hero p {
    width: 465px;
  }
}

.form {
  border-radius: 16px;
  color: #253347;
  margin: 0 auto;
  padding: 24px;
  width: 328px;
}
@media screen and (min-width: 768px) {
  .form {
    padding-top: 32px;
    width: 686px;
  }
}
@media screen and (min-width: 1440px) {
  .form {
    margin: 0;
    padding: 32px;
    width: 564px;
  }
}
.form h2 {
  font-family: "Inter", sans-serif;
  font-size: 24px;
  font-weight: 600;
  letter-spacing: -5%;
  line-height: 120%;
  margin-bottom: 24px;
}
@media screen and (min-width: 768px) {
  .form h2 {
    margin-bottom: 32px;
  }
}
.form form {
  margin-bottom: 24px;
}
@media screen and (min-width: 768px) {
  .form form {
    margin-bottom: 32px;
  }
}
.form form .form-check {
  border: none;
  display: flex;
  justify-content: space-between;
}
.form form .form-check .unit-container {
  align-items: center;
  -moz-column-gap: 24px;
       column-gap: 24px;
  display: flex;
  margin-bottom: 24px;
  padding: 0 10px;
}
@media screen and (min-width: 768px) {
  .form form .form-check .unit-container {
    margin-bottom: 32px;
    width: 299px;
  }
}
@media screen and (min-width: 1440px) {
  .form form .form-check .unit-container {
    margin-bottom: 32px;
    width: 238px;
  }
}
.form form .form-check .unit-container input[type=radio] {
  transform: scale(2.39);
}
.form form .form-check .unit-container label {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 150%;
}
.form form .form-numbers {
  border: none;
  display: flex;
  flex-direction: column;
  row-gap: 16px;
}
@media screen and (min-width: 768px) {
  .form form .form-numbers {
    flex-direction: row;
    justify-content: space-between;
  }
}
.form form .form-numbers .numbers-container {
  display: flex;
  flex-direction: column;
  position: relative;
  row-gap: 5px;
}
.form form .form-numbers .numbers-container label {
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 150%;
  color: #5E6E85;
}
.form form .form-numbers .numbers-container input {
  font-family: "Inter", sans-serif;
  font-size: 24px;
  font-weight: 600;
  letter-spacing: -5%;
  line-height: 120%;
  border-radius: 12px;
  border: 1px solid #5E6E85;
  color: #5E6E85;
  height: 77px;
  outline: none;
  padding-left: 20px;
  width: 280px;
}
@media screen and (min-width: 768px) {
  .form form .form-numbers .numbers-container input {
    width: 299px;
  }
}
@media screen and (min-width: 1440px) {
  .form form .form-numbers .numbers-container input {
    height: 61px;
    width: 238px;
  }
}
.form form .form-numbers .numbers-container span {
  font-family: "Inter", sans-serif;
  font-size: 24px;
  font-weight: 600;
  letter-spacing: -5%;
  line-height: 120%;
  color: #345FF6;
  position: absolute;
  right: 20px;
  top: 47%;
}
.form .results {
  background-color: #345FF6;
  border-radius: 16px;
  height: 180px;
  padding: 32px;
  width: 280px;
}
@media screen and (min-width: 768px) {
  .form .results {
    border-bottom-right-radius: 160px;
    border-top-right-radius: 160px;
    height: 130px;
    width: 100%;
  }
}
.form .results h3 {
  font-family: "Inter", sans-serif;
  font-size: 24px;
  font-weight: 600;
  letter-spacing: -5%;
  line-height: 120%;
  color: #FFFFFF;
  margin-bottom: 24px;
}
@media screen and (min-width: 768px) {
  .form .results h3 {
    margin-bottom: 16px;
  }
}
.form .results p {
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 150%;
  color: #FFFFFF;
}

.bmi-meaning {
  margin: 64px auto 0 auto;
  width: 375px;
}
@media screen and (min-width: 768px) {
  .bmi-meaning {
    display: flex;
    height: 411px;
    justify-content: flex-end;
    margin-top: 88px;
    position: relative;
    width: 686px;
  }
}
@media screen and (min-width: 1440px) {
  .bmi-meaning {
    height: 671px;
    margin-top: 120px;
    width: 1160px;
  }
}
.bmi-meaning .curved-line {
  display: none;
}
@media screen and (min-width: 1440px) {
  .bmi-meaning .curved-line {
    display: block;
    position: absolute;
  }
}
.bmi-meaning .man-img {
  width: 100%;
}
@media screen and (min-width: 768px) {
  .bmi-meaning .man-img {
    height: 411px;
    left: -12rem;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    width: 435px;
  }
}
@media screen and (min-width: 1440px) {
  .bmi-meaning .man-img {
    height: 533px;
    left: 0;
    width: 564px;
  }
}
.bmi-meaning .bmi-meaning-text {
  margin: 48px auto 0 auto;
  width: 328px;
}
@media screen and (min-width: 768px) {
  .bmi-meaning .bmi-meaning-text {
    height: 240px;
    position: absolute;
    right: 0;
    width: 331px;
  }
}
@media screen and (min-width: 1440px) {
  .bmi-meaning .bmi-meaning-text {
    bottom: 120px;
    height: 306px;
    width: 465px;
  }
}
.bmi-meaning .bmi-meaning-text h2 {
  font-family: "Inter", sans-serif;
  font-size: 32px;
  font-weight: 600;
  letter-spacing: -5%;
  line-height: 110%;
  color: #253347;
  margin-bottom: 32px;
}
@media screen and (min-width: 1440px) {
  .bmi-meaning .bmi-meaning-text h2 {
    font-family: "Inter", sans-serif;
    font-size: 48px;
    font-weight: 600;
    letter-spacing: -5%;
    line-height: 110%;
  }
}
.bmi-meaning .bmi-meaning-text p {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 150%;
  color: #5E6E85;
}

.health {
  display: flex;
  flex-direction: column;
  margin: 61px auto 0 auto;
  padding: 48px 24px;
  row-gap: 40px;
  width: 375px;
}
@media screen and (min-width: 768px) {
  .health {
    margin-top: 95.91px;
    padding: 60px 41px;
    width: 686px;
  }
}
@media screen and (min-width: 1440px) {
  .health {
    flex-direction: row;
    justify-content: space-between;
    margin-top: 0px;
    padding: 48px 0;
    width: 1160px;
  }
}
@media screen and (min-width: 768px) {
  .health section {
    align-items: center;
    -moz-column-gap: 40px;
         column-gap: 40px;
    display: flex;
  }
}
@media screen and (min-width: 1440px) {
  .health section {
    align-items: flex-start;
    flex-direction: column;
    width: 365px;
  }
}
@media screen and (min-width: 768px) {
  .health section img {
    margin-top: 32px;
  }
}
.health section .health-texts {
  margin-top: 32px;
}
.health section .health-texts h3 {
  font-family: "Inter", sans-serif;
  font-size: 24px;
  font-weight: 600;
  letter-spacing: -5%;
  line-height: 120%;
  color: #253347;
  margin-bottom: 24px;
}
.health section .health-texts p {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 150%;
  color: #5E6E85;
}

.limitations {
  margin: 82px auto 96px auto;
  width: 328px;
}
@media screen and (min-width: 768px) {
  .limitations {
    margin-top: 96.09px;
    width: 686px;
  }
}
@media screen and (min-width: 1440px) {
  .limitations {
    margin: 115px auto 0 auto;
    min-height: 800px;
    position: relative;
    width: 1160px;
  }
}
.limitations .limitations-intro {
  text-align: center;
}
@media screen and (min-width: 1440px) {
  .limitations .limitations-intro {
    text-align: left;
    width: 564px;
  }
}
.limitations .limitations-intro h2 {
  font-family: "Inter", sans-serif;
  font-size: 32px;
  font-weight: 600;
  letter-spacing: -5%;
  line-height: 110%;
  color: #253347;
  margin-bottom: 32px;
}
@media screen and (min-width: 1440px) {
  .limitations .limitations-intro h2 {
    font-family: "Inter", sans-serif;
    font-size: 48px;
    font-weight: 600;
    letter-spacing: -5%;
    line-height: 110%;
  }
}
.limitations .limitations-intro .limitations-caption {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 150%;
  color: #5E6E85;
}
@media screen and (min-width: 768px) {
  .limitations .limitations-intro .limitations-caption {
    width: 680px;
  }
}
@media screen and (min-width: 1440px) {
  .limitations .limitations-intro .limitations-caption {
    width: 559px;
  }
}
.limitations .limitations-kind-container {
  display: flex;
  flex-direction: column;
  margin-top: 56px;
  row-gap: 16px;
}
@media screen and (min-width: 768px) {
  .limitations .limitations-kind-container {
    -moz-column-gap: 16px;
         column-gap: 16px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 24px;
  }
}
@media screen and (min-width: 1440px) {
  .limitations .limitations-kind-container {
    -moz-column-gap: 32px;
         column-gap: 32px;
    margin: 0;
    position: absolute;
    right: 0;
    row-gap: 32px;
    top: 0;
  }
}
@media screen and (min-width: 1440px) {
  .limitations .limitations-kind-container .first-element {
    margin-left: 58rem;
  }
}
.limitations .limitations-kind-container .curved-line {
  display: none;
}
@media screen and (min-width: 1440px) {
  .limitations .limitations-kind-container .curved-line {
    display: block;
    margin-left: 15rem;
    margin-right: 107px;
  }
}
.limitations .limitations-kind-container section {
  padding: 24px;
}
@media screen and (min-width: 768px) {
  .limitations .limitations-kind-container section {
    padding: 32px;
    width: 335px;
  }
}
@media screen and (min-width: 1440px) {
  .limitations .limitations-kind-container section {
    width: 365px;
  }
}
.limitations .limitations-kind-container section div {
  align-items: center;
  -moz-column-gap: 16px;
       column-gap: 16px;
  display: flex;
  margin-bottom: 16px;
}
.limitations .limitations-kind-container section div h3 {
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: -5%;
  line-height: 120%;
  color: #253347;
}
.limitations .limitations-kind-container section p {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 150%;
  color: #5E6E85;
}
.limitations .limitations-kind-container .limitations-last-section {
  width: 365px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}
html main {
  margin: 0 auto;
  width: 375px;
}
@media screen and (min-width: 768px) {
  html main {
    width: 768px;
  }
}
@media screen and (min-width: 1440px) {
  html main {
    width: 1440px;
  }
}/*# sourceMappingURL=styles.css.map */