@import 'abstract/variables';
@import 'components/header';
@import 'components/intro';
@import 'components/courses';
@import 'components/footer';

* {
    box-sizing: border-box;
    font-family: $font-jakarta;
    margin: 0;
    padding: 0;
}