// Colors
$color-blue-950: #121725;
$color-blue-900: #2C344B;
$color-blue-600: #5A668A;
$color-blue-300: #C2CBE5;
$color-green: #54E6AF;
$color-red: #FB3E3E;
$color-white: #FFFFFF;


// Fonts
$font-chivo: "Chivo", sans-serif;
