header {
  padding-top: 1rem;
}
header nav {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  width: 343px;
}
@media screen and (min-width: 768px) {
  header nav {
    width: 689px;
  }
}
@media screen and (min-width: 1440px) {
  header nav {
    width: 1110px;
  }
}
header nav .header-btn {
  align-items: center;
  background-color: #13183F;
  border-radius: 2rem;
  display: flex;
  height: 48px;
  justify-content: center;
  width: 140px;
}
@media screen and (min-width: 1440px) {
  header nav .header-btn {
    font-size: 18px;
    height: 56px;
    width: 167px;
  }
  header nav .header-btn:hover {
    background-color: #666CA3;
    cursor: pointer;
    transition: 1s;
  }
}
header nav .header-btn a {
  color: #FFFFFF;
  font-weight: bold;
  text-decoration: none;
}

#intro {
  margin-top: 2rem;
}
@media screen and (min-width: 768px) {
  #intro {
    margin-top: 6rem;
  }
}
@media screen and (min-width: 1440px) {
  #intro {
    margin-top: 12rem;
  }
}
#intro .intro-container {
  margin: 0 auto;
  width: 343px;
}
@media screen and (min-width: 768px) {
  #intro .intro-container {
    position: relative;
    width: 689px;
  }
}
@media screen and (min-width: 1440px) {
  #intro .intro-container {
    width: 1110px;
  }
}
#intro .intro-container .intro__text--container {
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;
}
@media screen and (min-width: 768px) {
  #intro .intro-container .intro__text--container {
    width: 398px;
  }
}
@media screen and (min-width: 1440px) {
  #intro .intro-container .intro__text--container {
    width: 457px;
  }
}
#intro .intro-container .intro__text--container h1 {
  color: #13183F;
  font-size: 38px;
}
@media screen and (min-width: 1440px) {
  #intro .intro-container .intro__text--container h1 {
    font-size: 55px;
  }
}
#intro .intro-container .intro__text--container p {
  color: #83869A;
  line-height: 26px;
}
@media screen and (min-width: 1440px) {
  #intro .intro-container .intro__text--container p {
    font-size: 19px;
    line-height: 30px;
  }
}
#intro .intro-container .intro__text--container .intro-btn {
  align-items: center;
  background: linear-gradient(#FF6F48, #F02AA6);
  border-radius: 2rem;
  display: flex;
  height: 56px;
  justify-content: center;
  width: 167px;
}
@media screen and (min-width: 1440px) {
  #intro .intro-container .intro__text--container .intro-btn {
    cursor: pointer;
    margin-top: 1rem;
  }
  #intro .intro-container .intro__text--container .intro-btn:hover {
    opacity: 0.5;
    transition: 1s;
  }
}
#intro .intro-container .intro__text--container .intro-btn a {
  color: #FFFFFF;
  font-weight: bold;
  text-decoration: none;
}
@media screen and (min-width: 1440px) {
  #intro .intro-container .intro__text--container .intro-btn a {
    font-size: 18px;
  }
}
#intro .intro-container .intro-img {
  height: 301px;
  margin-top: 3.5rem;
  -o-object-fit: cover;
     object-fit: cover;
  width: 327px;
}
@media screen and (min-width: 768px) {
  #intro .intro-container .intro-img {
    height: auto;
    position: absolute;
    right: -39.5px;
    top: -14rem;
    width: auto;
    z-index: -1;
  }
}
@media screen and (min-width: 1440px) {
  #intro .intro-container .intro-img {
    right: -165px;
    top: -20rem;
  }
}

#courses .courses-container {
  margin: 0 auto;
  width: 343px;
}
#courses .courses-container .courses-title {
  align-items: center;
  background: linear-gradient(#FF6F48, #F02AA6);
  border-radius: 10px;
  display: flex;
  height: 120px;
  justify-content: center;
  margin-bottom: 1rem;
}
#courses .courses-container .courses-title h2 {
  color: #FFFFFF;
  width: 286px;
}
#courses .courses-container .courses {
  display: flex;
  flex-direction: column;
  margin: 4rem auto 0 auto;
  row-gap: 1.5rem;
  width: 286px;
}
#courses .courses-container .courses img {
  height: 56px;
  width: 56px;
}
#courses .courses-container .courses p {
  color: #83869A;
  line-height: 1.7rem;
}
#courses .courses-container .courses a {
  color: #F74780;
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
}

footer {
  background-color: #13183F;
  margin-top: 6rem;
}
footer .footer-container {
  align-items: center;
  display: flex;
  height: 120px;
  justify-content: space-between;
  margin: 0 auto;
  width: 343px;
}
footer .footer-container .footer-btn {
  align-items: center;
  background: linear-gradient(#4851FF, #F02AA6);
  border-radius: 30px;
  display: flex;
  height: 48px;
  justify-content: center;
  width: 140px;
}
footer .footer-container .footer-btn a {
  color: #FFFFFF;
  font-weight: bold;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  font-family: Plus Jakarta Sans, sans-serif;
  margin: 0;
  padding: 0;
}/*# sourceMappingURL=styles.css.map */