// Colors
$color-cyan-600: #4D96A9;
$color-cyan-300: #8FE3F9;

$color-purple-600: #855FB1;
$color-purple-300: #D9B8FF;

$color-slate-900: #28283D;
$color-slate-600: #87879D;
$color-slate-300: #D1D1DF;

$color-white: #FAFAFA;


// Fonts
$font-red-hat: "Red Hat Display", sans-serif;