#courses {

    @media screen and (min-width: 768px) {
        margin-top: 12rem;
    }

    .courses-container {
        margin: 0 auto;
        width: 343px;

        @media screen and (min-width: 768px) {
            display: flex;
            flex-wrap: wrap;
            row-gap: 2rem;
            width: 689px;
        }

        @media screen and (min-width: 1440px) {
            row-gap: 3rem;
            width: 1110px;
        }

        .courses-title {
            align-items: center;
            background: linear-gradient(#FF6F48, #F02AA6);
            border-radius: 10px;
            display: flex;
            height: 120px;
            justify-content: center;
            margin-bottom: 1rem;

            @media screen and (min-width: 768px) {
                align-items: baseline;
                height: 259px;
                margin: 2rem 0 0;
                padding-top: 4rem;
                width: 339px;
            }

            @media screen and (min-width: 1440px) {
                height: 322px;
                width: 350px;
            }

            h2 {
                color: $color-white;
                width: 286px;

                @media screen and (min-width: 1440px) {
                    font-size: 31px;
                }
            }
        }

        .courses {
            display: flex;
            flex-direction: column;
            margin: 4rem auto 0 auto;
            row-gap: 1.5rem;
            width: 286px;

            @media screen and (min-width: 768px) {
                margin: 0 auto;
            }

            img {
                height: 56px;
                width: 56px;
            }

            @media screen and (min-width: 1440px) {
                h3 {
                    font-size: 24px;
                }
            }

            p {
                color: $color-gray;
                line-height: 1.7rem;

                @media screen and (min-width: 1440px) {
                    font-size: 18px;
                }
            }

            a {
                color: $color-pink;
                font-size: 18px;
                font-weight: bold;
                text-decoration: none;

                @media screen and (min-width: 1440px) {
                    &:hover {
                        color: $color-light-pink;
                        transition: .7s;
                    }
                }
            }

            .btn-padding {

                @media screen and (min-width: 1440px) {
                    padding-top: 1.7rem;
                }
            }
        }
    }
}