#intro {
    margin-top: 2rem;

    @media screen and (min-width: 768px) {
        margin-top: 6rem;
    }

    .intro-container {
        margin: 0 auto;
        width: 343px;

        @media screen and (min-width: 768px) {
            position: relative;
            width: 689px;
        }

        .intro__text--container {
            display: flex;
            flex-direction: column;
            row-gap: 1.5rem;

            @media screen and (min-width: 768px) {
                width: 398px;
            }

            h1 {
                color: $color-dark-blue;
                font-size: 38px;
            }

            p {
                color: $color-gray;
                line-height: 26px;
            }

            .intro-btn {
                align-items: center;
                background: linear-gradient(#FF6F48, #F02AA6);
                border-radius: 2rem;
                display: flex;
                height: 56px;
                justify-content: center;
                width: 167px;

                a {
                    color: $color-white;
                    font-weight: bold;
                    text-decoration: none;
                }
            }
        }

        .intro-img {
            height: 301px;
            margin-top: 3.5rem;
            object-fit: cover;
            width: 327px;

            @media screen and (min-width: 768px) {
                height: auto;
                position: absolute;
                right: -39.5px;
                top: -14rem;
                width: auto;
            }
        }
    }
}