#comments {
    margin-top: 4rem;

    .stars-container {
        
        img {
            height: 28px;
            width: 28px;
        }
    }

    blockquote {
        color: $color-neutral-900;
        font-family: $font-martian-mono;
        font-size: 23px;
        font-weight: bold;
        margin-top: 2rem;

        @media screen and (min-width: 768px) {
            font-size: 30px;
        }

        cite {
            color: $color-neutral-700;
            display: block;
            font-family: $font-inter;
            font-size: 20px;
            font-weight: 300;
            margin-top: 2rem;

            @media screen and (min-width: 768px) {
                font-size: 20px;
            }
        }
    }
}