#not-average {
    margin-top: 4rem;
    position: relative;

    h2 {
        color: $color-neutral-900;
        font-family: $font-martian-mono;
        font-size: 2rem;
        line-height: 3rem;
    }

    p {
        color: $color-neutral-700;
        margin-top: 2rem;

        span {
            font-weight: bold;
        }
    }

    .not-img {
        border-radius: 15px;
        margin-top: 2rem;
        width: 100%;
    }

    .not-circle {
        top: 6rem;
        left: -.5rem;
        position: absolute;
        width: 110px;
    }
}