.section-second {
    margin-top: 7rem;

    .read-together-container {

        h2 {
            color: $color-neutral-900;
            font-family: $font-martian-mono;
            font-size: 31px;

            @media screen and (min-width: 768px) {
                font-size: 45px;
                width: 530px;
            }
        }

        .checkbox-container {
            margin-top: 2rem;

            .check-box {
                align-items: center;
                column-gap: 1rem;
                display: flex;
                margin-top: 1rem;

                p {
                    color: $color-neutral-700;

                    @media screen and (min-width: 768px) {
                        font-size: 20px;
                    }
                }
            }
        }

        .read-together {
            border-radius: 8px;
            margin-top: 2rem;
            width: 100%;

            @media screen and (min-width: 768px) {
                border-radius: 20px;
            }
        }
    }
}