header {
    background-color: $color-dark-purple;
    padding: 2rem 1rem;

    nav {

        ul {
            align-items: center;
            display: flex;
            justify-content: space-between;

            li {
                text-align: center;
                
                a {
                    color: $color-white;
                    font-family: $font-manrope;
                    font-size: 16px;
                    font-weight: bold;
                    text-decoration: none;
                }
                
                .header__li-line {
                    background-color: $color-eucaplyptus;
                    height: 3px;
                    margin-top: .3rem;
                    width: 124px;
                }
            }

        }

    }
}