#test {
    margin-top: 10rem;
    
    .test-container {
        padding-top: 14.3rem;
        position: relative;

        @media screen and (min-width: 768px) {
            margin: 0 auto;
            width: 689px;       
        }

        .test__img--person {
            left: 50%;
            position: absolute;
            top: 0;
            transform: translate(-50%, 0);
            z-index: -1;

            @media screen and (min-width: 768px) {
                left: 0;   
                top: 4.9rem;
                transform: translate(0, 0);
            }
        }

        .texts-container {
            align-items: center;
            background-color: $color-dark-purple;
            color: $color-white;
            display: flex;
            flex-direction: column;
            margin: 0 auto;
            height: 375px;
            justify-content: center;
            row-gap: 1rem;
            text-align: center;
            width: 343px;

            @media screen and (min-width: 768px) {
                margin: 0 0 0 auto;
                position: relative;
                text-align: start;
                width: 514px;
            }

            h2 {
                font-family: $font-fraunces;
                font-size: 32px;

                @media screen and (min-width: 768px) {
                    font-size: 48px;
                }
            }

            p {
                font-family: $font-manrope;
                line-height: 28px;
                width: 281px;

                @media screen and (min-width: 768px) {
                    width: 402px;
                }
            }


            .text-btn {
                align-items: center;
                background-color: $color-eucaplyptus;
                display: flex;
                height: 55px;
                justify-content: center;
                width: 172px;

                @media screen and (min-width: 768px) {
                    align-self: self-start;
                    margin-left: 3.5rem;
                }

                a {
                    color: $color-dark-purple;
                    font-family: $font-manrope;
                    font-weight: bold;
                    text-decoration: none;
                }

            }

            .test__img--circles {
                display: none;

                @media screen and (min-width: 768px) {
                    bottom: -6.5rem;
                    display: block;
                    right: .6rem;
                    position: absolute;
                }
            }
        }
    }
}