.health {
    display: flex;
    flex-direction: column;
    margin: 61px auto 0 auto;
    padding: 48px 24px;
    row-gap: 40px;
    width: 375px;

    @media screen and (min-width: 768px) {
        margin-top: 95.91px;
        padding: 60px 41px;
        width: 686px;
    }

    @media screen and (min-width: 1440px) {
        flex-direction: row;
        justify-content: space-between;
        margin-top: 0px;
        padding: 48px 0;
        width: 1160px;
    }

    section {

        @media screen and (min-width: 768px) {
            align-items: center;
            column-gap: 40px;
            display: flex;
        }

        @media screen and (min-width: 1440px) {
            align-items: flex-start;
            flex-direction: column;
            width: 365px;
        }

        img {

            @media screen and (min-width: 768px) {
                margin-top: 32px;
            }
        }

        .health-texts {
            margin-top: 32px;

            h3 {
                @include semiBoldPreset4;
                color: $color-blue-900;
                margin-bottom: 24px;
            }

            p {
                @include regularPreset1;
                color: $color-gray-500;
            }
        }
    }
}