@import 'abstract/variables';
@import 'components/header';
@import 'components/intro';
@import 'components/reasons';
@import 'components/test';
@import 'components/footer';

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}