footer {
    margin: 4rem auto 2rem auto;

    @media screen and (min-width: 768px) {
        margin: 5rem auto 3rem auto;
    }

    .footer-container {
        align-items: center;
        display: flex;
        flex-direction: column;
        row-gap: 3.5rem;

        .footer__medias--container {
            display: flex;
            justify-content: center;
            column-gap: 1.5rem;

            a {

                @media screen and (min-width: 1440px) {

                    &:hover img {
                        cursor: pointer;
                        transform: rotate(360deg);
                        transition: 1s;
                    }
                }
            }
        }
    }
}