header {
    background-color: $color-dark-purple;
    padding: 2rem 1rem;

    @media screen and (min-width: 768px) {
        padding: 2rem;
    }

    @media screen and (min-width: 1440px) {
        padding: 3rem 10rem;
    }

    nav {

        ul {
            align-items: center;
            display: flex;
            justify-content: space-between;

            li {
                text-align: center;

                a {
                    color: $color-white;
                    font-family: $font-manrope;
                    font-size: 16px;
                    font-weight: bold;
                    text-decoration: none;

                    @media screen and (min-width: 1440px) {
                        font-size: 18px;

                        &:hover {
                            color: $color-eucaplyptus;
                            cursor: pointer;
                            transition: 1s;
                        }
                    }
                }

                .header__li-line {
                    background-color: $color-eucaplyptus;
                    height: 3px;
                    margin-top: .3rem;
                    width: 124px;

                    @media screen and (min-width: 1440px) {
                        height: 3px;
                        width: 140px;
                    }
                }
            }
        }
    }
}